body {
  padding: 0;
  margin: 0;
  word-break: keep-all;
}
ul {
  padding: 0;
  list-style: square;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
li a {
  display: block;
}

:root {
  --shopee: #ee4e2e;
  --lazada: #5532c0;
  --qoo10: #ed2f3d;
  --joom: #3d3f58;
  --linktree: #3be255;
}

header {
  /* border: 1px solid darkblue; */
  height: 150px;
}
.flex_box {
  display: flex;
  justify-content: space-between;
}

.logo::before {
  content: '';
  display: inline-block;
  background-image: url('https://i.esdrop.com/d/f/PU38twfMvl/gVexpOQqyZ.png');
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  vertical-align: middle;
}
.logo a {
  /* border: 1px solid salmon; */
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  border-radius: 10px;
}
.link {
  vertical-align: middle;
  margin-right: 20px;
  /* border: 1px solid #6638B6; */
  padding: 11px 0px;
  display: flex;
}
.daou {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #39c1cd;
  color: #ffffff;
}
.daou_logo {
  content: ' ';
  background-image: url('https://play-lh.googleusercontent.com/b1y99H9lRw0Qw4eocoIzn7rAEkVkWC4fGIBGncDftUOlg7zv35-nsxR0ZTmH-sdsf5u4');
  background-size: auto 92px;
  width: 92px;
  height: 92px;
}
.nas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 40px;
  margin: 5px;
  border-radius: 10px;
  background-color: #3d3f58;
  color: #ffffff;
}
.link .smb,
.link .papago,
.link .google {
  /* border: 1px solid salmon; */
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  margin: 5px;
  border-radius: 10px;
}
.link .t a {
  display: block;
}
.gab_home {
  background-color: #91aabf;
  color: #ffffff;
}
.unny_shop {
  background-color: #e9bdbe;
  color: #ffffff;
}
.smb {
  background-color: #941d2d;
  color: #ffffff;
}
.papago {
  background-color: #00a1ff;
  color: #ffffff;
}
.google {
  background-color: #0f9d58;
  color: #ffffff;
}
header a:hover {
  opacity: 0.7;
}

.container {
  /* border: 3px solid black; */
  border-radius: 10px;
  margin: -10px 20px 20px 20px;
  padding: 0px;
  display: flex;
  align-items: stretch;
  background-color: #f5f5f5;
}
.mt,
.dt,
.ft,
.etc {
  /* border: 1px solid darkgoldenrod; */
  width: 20%;
  margin: 10px;
  padding: 0px 20px;
  background-color: #f5f5f5;
}
.ft {
  width: 33%;
}
.ft > div > ul {
  width: 50%;
}

h2 {
  margin-left: 15px;
}
h4 {
  margin: 0 0 0 15px;
}

ul li {
  /* border: 1px solid saddlebrown; */
  border-radius: 5px;
  margin: 10px;
  padding: 13px 15px;
  background-color: #ffffff;
}

ul li:hover {
  box-shadow: 0 0 10px #e2e2e2;
}
.joom_logo {
  height: 19px;
  margin-left: 7px;
}
.shopee strong {
  color: var(--shopee);
}
.shopee strong::before {
  content: '';
  display: inline-block;
  background-image: url('https://i.esdrop.com/d/f/aswBdVsEn9/rcN6MKDSbL.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-right: 7px;
  vertical-align: -9px;
}
.lazada strong {
  color: var(--lazada);
}
.lazada strong::before {
  content: '';
  display: inline-block;
  background-image: url('https://i.esdrop.com/d/f/aswBdVsEn9/5e3ZFjtZzK.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-right: 7px;
  vertical-align: -9px;
}
.qoo10 strong {
  color: var(--qoo10);
}
.qoo10 strong::before {
  content: '';
  display: inline-block;
  background-image: url('https://i.esdrop.com/d/f/aswBdVsEn9/UhjwUQdA9v.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-right: 7px;
  vertical-align: -9px;
}
.amazon strong::before {
  content: '';
  display: inline-block;
  background-image: url('https://cdn.icon-icons.com/icons2/2699/PNG/512/amazon_logo_icon_169611.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-right: 7px;
  vertical-align: -9px;
}
.tiktok_logo {
  width: 80px;
  height: 25px;
  margin: 0;
  padding: 0;
}
.linktree strong::before {
  content: '';
  display: inline-block;
  background-image: url('https://i.esdrop.com/d/f/aswBdVsEn9/CzcNg992v6.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: top;
}
.zezam strong::before {
  content: '';
  display: inline-block;
  background-image: url('https://media.zezam.io/eyJrZXkiOiJId29GcE9WSjJFNnAvcHJvZmlsZS1pbWFnZS9CR1dYeElKVWVRMUkiLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjk2MH19fQ==');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: top;
}
.homepage strong::before {
  content: '';
  display: inline-block;
  background-image: url('https://pcr.cloud-mercato.com/static/img/logos/vultr.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: top;
}
.cs ul li {
  display: flex;
  justify-content: space-between;
}
.tag {
  display: inline-block;
  /* border: 1px solid black; */
  border-radius: 30px;
  width: 35px;
  text-align: center;
  margin-left: 5px;
  padding: 2px 5px 4px 5px;
  font-size: 13px;
}
.kr {
  color: white;
  background-color: #6638b6;
}
.en {
  color: white;
  background-color: #ec2a23;
}

.sns ul li {
  display: flex;
  justify-content: space-between;
}
.sns_box {
  /* border: 1px solid darkblue; */
  display: inline-flex;
  vertical-align: middle;
}
.insta {
  width: 50px;
  height: 50px;
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.fb {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  text-align: center;
  background: #3b5998;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.li {
  margin: -5px 5px;
}
.li .li_box {
  width: 100%;
  margin: 5px;
}
.ft_box,
.li {
  display: flex;
  /* border: 1px solid #cccccc; */
}

.ft_box div {
  width: 100%;
}

.ft_box ul li {
  display: flex;
  justify-content: space-between;
}
.ft_box ul li b {
  display: inline-flex;
  vertical-align: middle;
  font-weight: 500;
}
.delivery ul li a {
  border: 1px solid #cccccc;
  border-radius: 7px;
  padding: 03px 10px;
  margin-left: 5px;
}

.brand ul li {
  display: flex;
  justify-content: space-between;
}
.brand ul li b {
  display: inline-flex;
  vertical-align: middle;
  font-weight: 500;
}
.brand ul li b a {
  border: 1px solid #cccccc;
  border-radius: 7px;
  padding: 03px 10px;
  margin-left: 5px;
}

.delivery ul li a:hover {
  transform: scale(1.05);
  /* background-color: #ececec;
  color: #000000; */
}

.brand ul li b a:hover {
  transform: scale(1.05);
  /* border: 1px solid #00b6f0;
  background-color: #00b6f0;
  color: #ffffff; */
}

@media screen and (max-width: 1023px) {
  body {
    overflow: auto;
  }

  header {
    /* border: 1px solid darkblue; */
    height: auto;
  }
  .flex_box {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    /* border: 1px solid darkgreen; */
    display: flex-box;
    width: 60%;
  }
  .logo a {
    display: block;
    width: 20%;
    position: absolute;
    /* border: 1px solid salmon; */
  }
  .gab_home {
    top: 20px;
    left: 150px;
  }
  .unny_shop {
    top: 80px;
    left: 150px;
  }

  .link {
    /* border: 1px solid #6638B6; */
    width: 40%;
  }
  .link a {
    /* border: 1px solid salmon; */
    display: inline-block;
    border-radius: 10px;
  }
  .link .t a {
    display: block;
  }
  .link .tl {
    display: flex;
    word-break: keep-all;
    justify-content: space-between;
  }
  .link .tl a {
    display: block;
    width: 50%;
    padding: 17px 0;
  }
  .container {
    display: block;
    padding: 10px 0;
    margin-top: 0;
  }
  .mt,
  .dt,
  .ft,
  .etc {
    /* border: 1px solid darkgoldenrod; */
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  body {
    /* background-color: #3b5998; */
  }

  .flex_box {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    /* border: 1px solid darkgreen; */
    display: flex-box;
  }
  .logo a {
    display: block;
    width: 110px;
    padding: 5px;
    text-align: center;
    position: absolute;
    /* border: 1px solid salmon; */
  }
  .gab_home {
    top: 16px;
    left: 150px;
  }
  .unny_shop {
    top: 77px;
    left: 150px;
  }

  .link {
    /* border: 1px solid #6638B6; */
    width: 30%;
  }
  .link a {
    /* border: 1px solid salmon; */
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
  }
  .link .t a {
    display: block;
  }
  .link .tl {
    display: flex;
    word-break: keep-all;
    justify-content: space-between;
  }
  .link .tl a {
    display: block;
    width: 50%;
    padding: 10px;
  }

  .ft > div > ul {
    width: auto;
  }
  .ft_box {
    display: block;
  }
  .egg {
    display: none;
  }
}
